*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* Inzio header */
#img-sfondo{
    height: 150px;
    background-color: rgb(78, 160, 255);
    background-image: url('../img/pattern.png');
}

#logo{
    height: 50px;
   background-image: url(../img/logo.svg);
   background-repeat: no-repeat;
   background-position: left bottom;
}

/* Main */
/* section 1 */
.titolo{
    font-size: 65px;
}

.grigio-scritte{
    color: grey;
}

.blu-scritte{
    font-weight: bold;
    color: rgb(134, 208, 250);
}

.scritte-piccole{
    font-size: 10px;
}

/* section 2 */

#contenitore-foto-tim{
    height: 500px;
}
.foto-tim{
  width: 49%;
  height: 100%; 
}

.sfondo-giallo{
    background-color: yellow;
}

#lista-non-ordinata{
    padding: 1%;
}

.margine-superiore{
    margin-top: 15px;
}

/* section 3 */

/* tabella */
table{
    border-collapse: collapse;
}

#sfondo-titolo{
    background-color: rgb(32,169,229);
    color: white;
}

.sfondo-tbody{
    background-color: rgb(177,229,242);
}

.larghezza-td{
    width: 24%;
}

/* footer */
.img-sfondo{
    height: 250px;
    width:250px;
    color: white;
    font-size: 13px;
    padding-left: 10px;
    
}

#foto-footer1{
    background-image: url('../img/monitor.jpg');
}

#foto-footer2{
    background-image: url('../img/graph.jpg');
}
